
*{
	font-family:Garamond;
}

#myheader{
	height: 160px;
	min-width:930px;
	text-align:center;
	background-color: #F0F0F0 ;
	border:2px solid #E0E0E0;
	border-radius: 10px;
}
#myIndex{
	position:fixed;
	top:182px;
	text-align:right;
	background-color: white ;
	line-height: 100%;
	width: 240px;
	padding-right: 10px;
	float:left;
	border:2px solid #E0E0E0;
	border-radius: 10px;
}
#myBody{
	margin: 10px;
	top: 2000px;
	margin-left:250px;
}
#mainDiv{
	margin: 10px;
	text-align:center;
	background-color: #F8F8F8 ;
	border:2px solid #E0E0E0;
	border-radius: 10px;
	min-width:670px;
	max-width:1020px;
}
table, th,td,tr{
	background-color: white;
	text-align: center;
	max-width:900px;
	min-width:200px;
	border-collapse: collapse;
	border: 2px solid #E0E0E0;
	padding: 5px;
}
#visualizations{
	margin: 10px;
	text-align:center;
	background-color: #F8F8F8 ;
	border:2px solid #E0E0E0;
	border-radius: 10px;
	width:1454px;
}
.axis path,
.axis line{
	fill:none;
	stroke:black;
	shape-rendering: cristEdges;
}
.axis text{
	font-family: sans-serif;
	font-size:11px;
}
rect:hover {
	fill: brown;
}
